<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>что то</title>
</head>
<body>
    <h1 class="main__title" style="text-align: center;">разные страницы:</h1>
    <div class="row">
        <div class="left-block">
            <h1 class="small__title"> Википедия:</h1>
            <p>информационный сайт имеюший почти всю информацию в мире</p>

            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D0%BE%D0%B1%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%BF%D0%BE%D1%82%D0%B5%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5">ссылка на вики</a>
            <p>
                Эта статья — о нынешнем потеплении земного климата. О явлении изменения климата Земли как таковом см. Изменение климата.
                Средние глобальные температуры с 2011 по 2020 год по сравнению с базовым средним показателем с 1951 по 1980 год.
                Глоба́льное потепле́ние — длительное повышение средней температуры климатической системы Земли[1],
                происходящее уже более века[2],
                основной причиной чего, по мнению подавляющего большинства учёных
                , является человеческая деятельность (антропогенный фактор)[3].
            </p>
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</h1>
            <h1 class="small__title">rbc.ru:</h1>
            <p>просто случайный сайт с новостями на которым много рекламы </p>
            <a href="https://www.rbc.ru/story/66b4a5ce9a79473cb11c638d">ссылка</a>
            <p>
                Глобальное потепление: причины и последствия
                Что такое глобальное потепление?
                Чем может грозить повышение температуры всего на пару градусов?
                Почему говорят про потепление, хотя зимы становятся все холоднее?
                Правда ли из-за изменений климата целые города могут уйти под воду?
            </p>
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</h1>
            <h1 class="small__title">newsinfo.ru:</h1>
            <p>просто случайный сайт с новостями на которым немного рекламы </p>
            <a href="https://www.newsinfo.ru/news/ledniki-ischeznut-navsegda/881233/">ссылка</a>
            <p>
                Ледники исчезнут навсегда? Ученые предупреждают о критической отметке в 1,5°C
                Горные ледники по всему миру находятся под угрозой полного исчезновения, и если глобальное потепление достигнет 3°C, даже на короткий период, их восстановление станет невозможным в течение многих поколений.
                Такой неутешительный вывод представлен в исследовании, проведенном совместно Бристольским университетом и Инсбрукским университетом, сообщает Earth.com.
            </p>
            <h1 class="small__title">Парламентская Газета:</h1>
            <p>
                Издание Федерального Собрания Российской Федерации
            </p>
            <a href="https://www.newsinfo.ru/news/ledniki-ischeznut-navsegda/881233/">ссылка</a>
            <p>
                По оценкам Росгидромета, к 2030 году среднее повышение температуры в России
                превысит пороговые значения доиндустриального периода на 1,5 градуса,
                а к 2043 году — на 2 градуса. В последние несколько лет в регионах
                отмечают внезапные возвращения заморозков, засухи и наводнения.
                Сельское хозяйство должно ответить на изменения климата новыми сортами культур,
                а также технологиями обработки земель, заявил заместитель министра 
                сельского хозяйства Андрей Разин на Невском экологическом конгрессе.
            </p>
            <h1 class="small__title">форбэс:</h1>
            <p>просто случайный сайт с новостями на которым много рекламы </p>
            <a href="https://www.forbes.ru/rubriki-kanaly/video/531662-kak-ludi-prevrasaut-zemlu-v-ad-anapa-noril-sk-los-andzeles">ссылка</a>
            <p>
                Прошлый 2024 год оказался самым жарким за всю историю наблюдений.
                Средняя температура всего лишь на полтора градуса превысила значения второй половины XIX века,
                но глобальное потепление уже не первый год уносит жизни людей в России и по всему миру.
                Треть россиян проживают в городах, где концентрация вредных веществ в
                воздухе минимум в семь раз превышает санитарные нормы
            </p>
            <a class="small__title" href="/list">предыдущая страница</a>
        </div>
        <div class="right-block">
            <img class="bigger_img" src="../static/img/site1.png" alt="chart">
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-</h1>
            <img class="bigger_img" src="../static/img/site2.png" alt="chart">
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-</h1>
            <img class="bigger_img" src="../static/img/site3.png" alt="chart">
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-</h1>
            <img class="bigger_img" src="../static/img/site4.png" alt="chart">
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-</h1>
            <img class="bigger_img" src="../static/img/site5.png" alt="chart">
            <h1 class="small__title">-*-*-*-*-*-*-*-*-*-</h1>
        </div>
    </div>
</body>