<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>форум</title>
</head>
<body class="darker">
  <form action="/after" method="post">
    <ul class="user-info">
      <label class="main__title_dark">Что вы думаете о сайте?</label>
      <li class="user-info__item">
        <input type="text" name="name" id="name" placeholder="Введите ваше имя" required>
      </li>
      <li class="user-info__item">
        <input type="wh" name="wh" id="wh" placeholder="Введите ваше мнение" required>
      </li>
    </ul>
    <button class="button" type="submit">Готово!</button>
  </form>
  <img class="bigger_img" src="../static/img/form.jpg" alt="chart">

</body>
</html>
