<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>что то</title>
</head>
<body>
  <h2 class="main__title">Глобальное Потепление</h2>
  <h1>Большая проблема?</h1>
  
<div class="row">
  <!-- Левая сторона -->
  <div class="left-block">
    <h1 class="small__title">-*-*-*-*-*-*-*-*-*-*-*-</h1>
    <h2>Глобальное Потепление</h2>
    <p> это постепенное повышение средней температуры на планете, которое продолжается уже более века. Основная причина этого явления — деятельность человека, особенно работа электростанций и заводов, которые выбрасывают в атмосферу огромное количество парниковых газов, таких как углекислый газ и метан.

        Эти газы создают на Земле эффект "одеяла", удерживая тепло в атмосфере. В результате температура на планете постоянно растёт. Учёные предупреждают, что если ничего не менять, к 2040 году могут растаять все крупные ледяные массы, и это приведёт к затоплению прибрежных территорий по всему миру.
    </p>


    <a href="list" class="small__title">следующяя страница</a>
    <a href="/forum">
        <img class="item__img" src="../static/img/form.jpg" alt="home">
    </a>
  </div>

  <!-- Правая сторона -->
  <div class="right-block">
    <div class="box-background">
      <p class="small__title">Глобальное Потепление</p>
      <p class="small__title">Вики</p>
      <p>длительное повышение средней температуры климатической системы Земли, происходящее уже более века.</p>
      
      <p class="red__back">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
      
      <p>Начиная с 1850 года, в десятилетнем масштабе температура воздуха в каждое десятилетие была выше, чем в любое предшествующее десятилетие.</p>
      
      <p class="red__back">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
      
      <p>С 1750—1800 годов человек ответственен за повышение средней глобальной температуры на 0,8—1,2°C.</p>
      
      <p class="red__back">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
      
      <p>Вероятная величина дальнейшего роста температуры на протяжении XXI века на основе климатических моделей составляет 0,3—1,7 °C.</p>
      
      <p class="red__back">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
      
      <p>Для минимального сценария эмиссии парниковых газов, 2,6—4,8 °C — для сценария максимальной эмиссии.</p>
      
      <p class="red__back">-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
      
      <p>Последствия глобального потепления включают повышение уровня моря, региональные изменения осадков, более частые экстремальные погодные явления, такие как жара и расширение пустынь.</p>
    </div>
  </div>
</div>



</body>
</html>
