<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>что то</title>
</head>
<body class="darker">
    <div class="row">
      <div class="box-background-dark">
        <div class="left-block">
          <h1 class="main__title_dark" >Как можно предотвратить</h1> 
          <h1 class="small__title_dark">глобальное потепление?</h1>
          <p>Использовать чистую энергию — солнечные батареи, ветряки и гидроэлектростанции вместо угля и нефти.</p>

          <p>Экономить электричество — выключать свет, зарядки и технику, когда они не нужны.</p>

          <p>Сажать деревья — они поглощают углекислый газ и очищают воздух.</p>

          <p>Меньше ездить на машинах — лучше ходить пешком, кататься на велосипеде или ездить на автобусе.</p> 

          <p>Сортировать мусор — переработка помогает сократить загрязнение.</p>

          <p>Сократить использование пластика — брать с собой многоразовые бутылки и пакеты.</p>
        </div> 
      </div>  
      </div>
      <div class="right-block"> 
        <ul>  
        <a class="small__title_dark" href="/find">следующяя страница<a>
        <a class="small__title_dark" href="/">предыдущая страница</a>
        </ul>  
      </div>
    </div>
  
  <img class="bigger_img" src="../static/img/gb2.jpg" alt="chart">
  <a href="/p"style="font-size: 2px;">p</a>

</body>    
</html>
